html {
  overflow-y: hidden;
}

.cover {
  font-size: 18px;
  margin: 0;
  padding: .5em;
  background: #f1f1f1;
  color: #333;
  font-family: sans-serif;
  line-height: 1.6;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  z-index: 1;
}

.cover * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.cover ::-moz-selection {
  color: #fff;
  background: #333;
  text-shadow: none;
}

.cover ::selection {
  color: #fff;
  background: #333;
  text-shadow: none;
}

.cover a {
  text-decoration: underline;
}

.cover h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: calc(2em / 3);
}

.cover ul {
  padding-left: 1em;
}

.cover header img {
  display: block;
}

.cover header p {
  text-shadow: 0 2px 4px #ccc;
  margin: 1em 0;
}

.cover section {
  background: #fff;
  padding: .75em 1em 1em;
}

.cover section small {
  display: inline-block;
  vertical-align: middle;
  font-size: .6em;
  margin-top: -2px;
  margin-left: calc(10em / 12);
  padding: 0 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cover section li p {
  font-size: .8em;
}

.cover section:first-child li + li {
  margin-top: .5em;
}

.cover section ul + p {
  margin-top: 1em;
  text-align: right;
}

.cover section + section {
  border-top: 1px solid #ccc;
}

.cover section:last-child {
  margin-bottom: .5em;
}

@media screen and (min-width: 768px) {
  .cover header,
  .cover main {
    width: calc(90% + 1em);
    max-width: 1600px;
    margin: 2em auto;
  }

  .cover header {
    display: flex;
    align-items: center;
  }

  .cover header p {
    flex: 1;
    font-size: 1.5em;
    margin-left: calc(4em / 3);
  }

  .cover main > div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 75%;
  }

  .cover section {
    flex: 1;
    min-width: 360px;
    margin-right: 2em;
    margin-bottom: 2em;
    padding: 1.5em 2em 2em;
    border: 1px solid #ccc;
    box-shadow: 0 8px 8px -4px #ccc;
  }
}
